.footer{
    position: absolute;
    width: 1703px;
    height: 181px;
    left: -132px;
    top: 3715px;
    background-color: $blue-footer;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
        width: 300px;

        img{
            width: 100%;
        }
    }
}