.footer{
    width: 100%;
    background-color: $blue-footer;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo{
        width: 300px;

        img{
            width: 100%;
        }
        p{
            color: $white;
        }
    }
}